@import url('./common.min.css');
$mob:700px;

@mixin mob{
    @media (min-width:0px) and (max-width:#{$mob}) {
        @content;
    }
}

@mixin grid {
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
@mixin fontFace($name,$url){
    @font-face {
        font-family: '#{$name}';
        src: url('#{$url}') format('truetype');
    }
}
@mixin  img($size) {
    background-position: center;
    background-repeat: no-repeat;
    background-size: $size;
}
@mixin label($con){
    content:'#{$con}';
    display: block;
    font-size: #{'min(1.2em,12px)'};
    line-height:#{'min(0.5rem,20px)'} ;
    text-align: center;
    width: #{'max(20%,40px)'};
    border-radius: 10px;
    position: absolute;
    left: 0;top: 0;
    @if($con ==UltraHD){
        background-color: antiquewhite;
    }@else if($con ==HD){
        background-color: darkgray;
    }@else{
        background-color: darksalmon;
        color: #fff;
    }

}

@mixin  hdr {
    h2{
        font-size:  #{'min(2.4rem,24px)'};
        line-height: #{'min(2rem,80px)'};
        text-transform: uppercase;
        @include mob{
            font-size:  #{'min(2rem,20px)'};
            line-height: #{'min(1rem,40px)'};
            
        }
    }
    h5{
        font-size: #{'min(1.8em,18px)'};
        line-height: #{'min(1rem,40px)'};
        text-transform: capitalize;
    }
    p{
        font-size: #{'min(1.4em,14px)'};
        line-height:#{'min(0.5rem,20px)'};
        height: #{'min(2rem,80px)'};
        overflow: hidden;
        @include mob{
            font-size:  #{'min(1.2rem,12px)'};
            height: #{'min(1rem,40px)'};
              
        }
    }
}

.mnWrap{
    @include mob{
        margin-top: #{'max(-5rem,-200px)'};
    }
    main{
        height: #{'min(10rem,400px)'};
        overflow: hidden;
        @include mob{
            height: #{'min(7rem,280px)'};

        }
        video{
            margin-top: #{'min(-2rem,-80px)'};
            width: 100%;
            @include mob {
                width: 200%;
            }
        }
    }
}
.prd{
    .cntWrap{
        margin-top: #{'min(1rem,40px)'};
        .content{
            @include grid();
            header{
                @include hdr;
                p{
                    width: 80%;
                }
                .tab{
                    display: flex;
                    flex-wrap: wrap;
                    row-gap: #{'min(0.5rem, 20px)'};
                    ul{
                        display: flex;
                        justify-content: space-between;
                        width: 60%;
                        @include mob{
                            width: 100%;
                        }
                        li{
                            width: calc(100% / 4 - 20px);
                            @include mob{
                                width: calc(100% / 4 - 10px);
                                
                            }
                            &:nth-child(1){
                                font-weight: 700;
                                line-height:#{'min(3rem, 120px)'} ;
                                &~li{
                                    &::before{
                                        content: '';
                                        display: block;
                                        width: 100%;
                                        height: #{'min(3rem, 120px)'};
                                        @include img(contain);
                                        cursor: pointer;
                                    }
                                    @for $i from 1 through 4{
                                        &:nth-child(#{$i})::before{
                                           background-image: url('../image/prd_cnt02_pic0#{$i}.jpg');
                                        }
                                    }
                                    text-align: center;
                                }
                            }  
                        }
                    }
                }
            }
            section{
                margin-top: #{'min(1rem,40px)'};
                .btn{
                    text-align: right;
                    text-transform: capitalize;
                    cursor: pointer;
                    @include mob{
                        display: none;
                    }
                }
                .artView{
                    width: calc((100vw - 1080px) / 2 + 100%);
                    min-width: calc((100vw - 80vw) / 2 + 100%);
                    overflow: hidden;
                    margin-top: #{'min(0.5rem,20px)'};
                    transition: all 0.5s;
                    @include mob{
                        width: 100%;
                        min-width: auto;
                        overflow: hidden;
                        height: #{'min(20rem,800px)'};
                    }
                    .artGroup{
                        display: flex;
                        width: 300%;
                        @include mob{
                            width: 100%;
                            flex-wrap: wrap;
                        }
                        article{
                            position: relative;
                            width: calc(100% / 6 - 20px);
                            margin: 0 10px;
                            @include mob{
                                width: calc(100% / 3 - 20px);

                            }
                            .image{
                                height: #{'min(6rem,240px)'};
                                @include mob{
                                    height: #{'min(4rem,160px)'};
                                    
                                }
                                @include img(contain);
                                @for $i from 1 through 14{
                                    &.i#{$i}{
                                        background-image: url('../image/cnt01_img0#{$i}.jpg');
                                    }
                                }
                            }
                            .texts{
                                text-align: center;
                                line-height: #{'min(1rem, 40px)'};
                                @include mob{
                                    display: none;
                                }
                            }
                            &.fhd::after{
                               @include label('UltraHD');
                            }
                            &.ek::after{
                                @include label('8k');
                                
                            }
                            &.hd::after{
                                @include label('HD');
                            }
                        }
                    }

                    &.all{
                        width:100%;
                        min-width: 100%;
                        overflow: visible;
                        .artGroup{
                            display: flex;
                            width: 100%;
                            flex-wrap: wrap;
                            row-gap: #{'min(0.5rem, 20px)'};
                            article{
                                width: calc(100% / 4 - 20px);
                            }
                        }
                    }

                }
            }
        }
    }
    
}